<div class="header">
  <div class="container-fluid">
    <div class="row h-100 py-2 ps-5 align-items-center">
      <div class="label col-lg-3 col-xl-3">
        <div> Get started on your </div>
        <div> business adventure </div>
      </div>

      <div class="col-lg-9">
        <div class="d-flex flex-wrap">
          <div class="col-lg-2 col-sm-6 col-12 col-md-4 px-2">
            <img src="<%= image_path('checked-step.png') %>">
            <span> Join Rohan </span>
          </div>

          <div class="col-lg-2 col-sm-6 col-12 col-md-4 px-2">
            <img src="<%= image_path('checked-step.png') %>">
            <span> Watch Lessons </span>
          </div>
          <div class="col-lg-2 col-sm-6 col-12 col-md-4 px-2">
            <img src="<%= image_path('checked-step.png') %>">
            <span> Set up Website </span>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 col-md-4 ps-2">
            <img src="<%= image_path('checked-step.png') %>">
            <span> Set up Operations </span>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 col-md-4 ps-2">
            <img src="<%= image_path('checked-step.png') %>">
            <span> Get First Customer </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>