<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Rohan Academy, <%= @user.name %>! </h3>
    <p>
      You have successfully signed up to <%= new_user_session_url %> with below credentials
    </p>
    <p>
      Username: <%= @user.name %><br>
      Email: <%= @user.email %><br>
      Password: <%= @user.cl_password %><br>
    </p>
    <p>
      To login to ConvertLabs site, just follow this link: https://convertlabs.io/ and use same above email, password.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>