<div class="devise-form col-10 col-sm-8 col-md-6 col-lg-4 p-3 mx-auto mt-5">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field mt-3">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control rounded-0 shadow-none" %>
    </div>

    <div class="field mt-3">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control rounded-0 shadow-none" %>
    </div>

    <div class="row align-items-end actions mt-3">
      <div class="col-8">
        <%= f.submit "Change my password", class: "btn  btn-dark rounded-0" %>
      </div>

      <div class="col-4">
        <%= link_to "Log in", new_session_path(resource_name) %><br />
        <%= link_to "Sign up", root_path %><br />
      </div>
    </div>
  <% end %>

  <!--
    <%= render "users/shared/links" %>
  -->
</div>
